@font-face {
    font-family: 'elianto';
    src: format('truetype') url('fontes/Elianto-Regular.ttf')
         format('opentype') url('fontes/Elianto-Regular.otf');
}

@font-face {
    font-family: 'azonix';
    src: format('opentype') url('fontes/Azonix.otf');
}
html {
    height: calc(100% - 76px);
    max-height: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

.navbar {
    background-color: white !important;
    color: #000096 !important;
}
.navbar-brand {
    font-family: 'azonix' !important;
    color: #000096 !important;
    font-size: 25px;
}
.nav-link {
    color: #000096 !important;
    font-size: 17px !important;
}

.flex {
    display: flex;
    height: 100%;   
}
.nav {
    background-color: #0f0f0f;
    grid-column: 1;
    color: #555555;
    width: 50px;
    flex: 0 1;
    flex-basis: 50px;
}


.nav ul {
    margin: 0;
    width: 100%;
    height: calc(100% - 45px);
    list-style-type: none;
    padding: 0;
}
.nav li, .nav button {
    width: 100%;
    height: 45px;
    border: none;
    background: none;
    color: #8c8c8c;
}
.nav button:hover {
    background-color: #323232;
    color: white;
}

i.fa-long-arrow-alt-right {
    float: right;
    font-size: 18px;
    margin-right: 12px;
}

main {
    background-color: #f3f3f4;
    padding: 10px;
    flex: 1 1;
}
span {
    display: none;
}

.modal-header {
    background-color: #000096;
    color: white;
}

.close {
    background: none;
    border: 1px solid #000096;
    color: #000096;
    height: 35px;
    border-radius: 0.15rem;
}
.close:active {
    border-color: #220e40;
    color: #220e40;
}

.confirm {
    background-color: #000096;
    border: none;
    color: white;
    height: 35px;
    border-radius: 0.15rem;
    width: fit-content !important;
}

.confirm:active {
    background-color: #220e40;
}

.modal input {
    width: 100%;
    height: 35px;
    border: none;
    outline: 0.5px solid #212529;
}

.modal label {
    margin-top: 0.5rem;
}

.erro {
    color: rgb(255, 70, 0);
}

input:focus {
    outline: 1px solid #212529;
}

.modal-body {
    padding-top: 0 !important;
}

.dropdown-toggle i {
    font-size: 25px;
}

.dropdown-menu {
    height: fit-content;
    width: 100px !important;
}
.dropdown-item {
    color: #000096;
    background-color: white;
    font-size: 15px ;
    transition: 0.2s linear;
}
.dropdown-item:hover {
    background-color: #c8c8c8;
    color: #000096;
}

table {
    width: 100%;
    background-color: white;
    border: 1px solid #8c8c8c;
}
th {
    background-color: #000096;
    color: white;
    padding: 0 5px;
}

td {
    border: 1px solid #8c8c8c;
}
td input, td select {
    width: 100%;
    height: 30px;
    border: none;
    outline: none !important;
    background: none;
    padding: 0 5px;
}

tbody tr:nth-child(even) {
    background-color: #c8c8c8;
}

.col-id, .col-custo, .col-valor {
    width: 100px;
}

.col-categoria {
    width: 200px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}